:root {
    --background-color: #F6F5F2;
    --background-color-secondary: #F0EBE3;
    --text-color: #181C14;
    --text-special-color: #41787A;
    --button-color: #76ABAE;
    --color-blue: #4F8EF7;
    --color-red: #FF5C5C;
    --color-green: #3ED598;
    --color-yellow: #FFD644;
    --color-purple: #cc2ed4;
    --shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);
    --border-radius: 0.2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #181C14;
        --background-color-secondary: #3C3D37;
        --text-color: #F6F5F2;
        --text-special-color: #A5D9DB;
        --button-color: #76ABAE;
        --color-blue: #4F8EF7;
        --color-red: #FF5C5C;
        --color-green: #3ED598;
        --color-yellow: #FFD644;
        --color-purple: #cc2ed4;
    }
}

* {
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    width: 100%;
    color: var(--text-color);
    font-size: 16px;
    line-height: 2rem;
    text-indent: justify;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    margin: 0 2vw;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin: 0 0 1em 0;
    color: var(--text-special-color);
}

h3 {
    font-size: 1.5em;
    margin: 2em 0 1em 0;
    color: var(--text-special-color);
}

h4 {
    font-size: 1.1em;
    margin: 0 0 1em 0;
}

.anchor:link {
    font-weight: bold;
    color: var(--text-special-color);
}

.anchor:visited {
    color: var(--text-special-color);
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    background-color: var(--text-special-color);
    color: var(--background-color-secondary);
}

ul {
    list-style: none;
}

code {
    background-color: var(--background-color-secondary);
    padding: 0.1em 0.2em;
    border-radius: 0.1em;
    font-size: 1em;
}



.article-content {
    margin: 0 0 20vh 0;
}

/* BODY HEADER */

.body-header {
    position: sticky;
    top: 0;
}

.body-header-main-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-secondary);
    padding: 1.5em 2em 1em 2em;
    border-bottom: 0.5em solid var(--text-special-color);
}

.body-header-h1 {
    color: var(--text-special-color);
}

.body-header-nav {
    display: none;
}

.body-header-nav.is-active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color-secondary);
    padding: 1em 1em 1em 1em;
}

.body-header-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.body-header-button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    text-decoration: none;
}

.button-login {
    background-color: transparent;
    color: var(--text-color);
    border: 0.1em solid var(--text-color);
}

.button-login:hover {
    color: var(--background-color-secondary);
    background-color: var(--button-color);
    border: 0.1em solid transparent;
}

.button-register {
    color: var(--background-color-secondary);
    background-color: var(--text-color);
    border: 0.1em solid transparent;
}

.button-register:hover {
    color: var(--background-color-secondary);
    background-color: var(--button-color);
    border: 0.1em solid transparent;
}

.body-header-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
}

.body-header-button-menu .body-header-button-menu-img {
    font-size: 1.5em;
    color: var(--background-color-secondary);
}

.body-header-button-menu:hover .body-header-button-menu-img {
    color: var(--text-color);
}

.body-header-button-menu.is-active {
    border-color: var(--text-color);
    background-color: transparent;
}

.body-header-button-menu.is-active .body-header-button-menu-img {
    color: var(--text-color);
}

/***************/

/* BODY FOOTER */

.body-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0 0 0;
    background-color: var(--background-color-secondary);
    border-top: 0.5em solid var(--text-special-color)
}

/***************/

/* ASIDE *******/

.aside-navigation {
    display: none;
}

.aside-menu-list .aside-li.active .aside-anchor {
    font-weight: bold;
    color: var(--text-special-color);
    border-left: 3px solid var(--text-special-color);
    padding-left: 8px;
    background-color: var(--text-special-color)#f0f8ff;
}

.aside-navigation {
    padding: 1em 1em 1em 1em;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
}

/***************/

/* SECTION *****/

.article-header {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid var(--text-color);
}

.paragraph {
    text-align: justify;
    margin: 0 0 1em 0;
}

/***************/

/* EXEMPLE *****/

.section-example {
    display: flex;
    margin: 2vw 0 2vw 0;
    padding: 2vw 1vw 2vw 1vw;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.section-example-title {
    font-size: 1.5em;
    margin: 0 0 1em 0;
    color: var(--text-special-color);
}

.section-example-test {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-example-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0 1em 0 1em;
}

.section-example-paragraph {
    font-size: 1.2em;
}

.section-example-menu-button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.section-example-button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 1em;
    flex: 1 1 40%;
    color: var(--background-color-secondary);
    background-color: var(--button-color);
    border: 0.1em solid transparent;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.section-example-button:hover {
    color: var(--text-color);
    background-color: var(--background-color-secondary);
    border: 0.1em solid var(--text-color);
}

.section-example-work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    aspect-ratio: 1 / 1;
    border: 0.1em solid var(--background-color);
    border-radius: var(--border-radius);
}

.div-order {
    display: flex;
    gap: 1vw;
}

/***************/

/* BOXES *******/

.box {
    color: var(--background-color-secondary);
    font-weight: bold;
    flex: 0 0 25%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    box-shadow: var(--shadow);
}

.box-blue {
    background-color: var(--color-blue);
}

.box-red {
    background-color: var(--color-red);
}

.box-green {
    background-color: var(--color-green);
}

.box-yellow {
    background-color: var(--color-yellow);
}

.box-purple {
    background-color: var(--color-purple);
}

.box-stretch {
    height: 100%;
    aspect-ratio: unset;
}

.box-no-stretch {
    min-height: 25%;
    aspect-ratio: unset;
}

.box-baseline {
    padding: 10% 0 0 0;
}

.box-flex-grow {
    flex-grow: 1;
    flex-basis: 0;
    height: 25%;
}

.box-flex-shirink {
    flex-shrink: 1;
    min-height: 25%;
    aspect-ratio: unset;
}

/***************/

.span-blue {
    color: var(--color-blue);
}

.span-red {
    color: var(--color-red);
}

.span-green {
    color: var(--color-green);
}

#div-justify-content {
    justify-content: flex-start;
}

#div-align-items {
    justify-content: center;
    align-items: stretch;
    gap: 1vw;
}

#div-align-content {
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 1vw;
}

#div-flex-wrap {
    justify-content: flex-start;
    align-content: center;
    gap: 1vw;
}

#div-align-self {
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 1vw;
}

#box-align-self {
    align-self: auto;
}

#div-order {
    justify-content: center;
    align-content: center;
    gap: 1vw;
}

#box-blue-order {
    order: 0;
}

#box-red-order {
    order: 0;
}

#box-green-order {
    order: 0;
}

#div-flex-grow {
    justify-content: space-around;
    align-content: center;
    gap: 1vw;
}

#div-flex-shrink {
    justify-content: flex-start;
    align-content: center;
    gap: 1vw;
}

#div-flex-basis {
    justify-content: flex-start;
    align-content: center;
    gap: 1vw;
}

#box-flex-basis {
    flex-shrink: 1;
    height: 25%;
    aspect-ratio: unset;
}

@media (min-width: 768px) {

    main {
        margin: 0 5vw;
    }

    h3 {
        font-size: 1.8em;
    }

}

@media (min-width: 1024px) {

    main {
        flex-direction: row;
        gap: 5vw;
    }

    .article-content {
        width: 70%;
    }

    /* BODY HEADER */

    .body-header-nav {
        display: block;
    }

    .body-header-ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;
    }

    .body-header-button-menu {
        display: none;
    }

    /***************/

    /* ASIDE *******/

    .aside-navigation {
        position: fixed;
        top: 50%;
        right: 5vw;
        transform: translateY(-50%);
        padding: 1em;
        width: 20vw;
        background-color: var(--background-color-secondary);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        display: block;
    }

    /***************/

    /* EXEMPLE *****/

    .section-example-test {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
    }

    .section-example-title {
        margin: 0 0 2em 0;
    }

    .section-example-menu {
        justify-content: center;
        align-items: start;
        flex: 1 1 50%;
    }

    .section-example-menu-button {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }

    .section-example-button {
        width: 80%;
    }

    .section-example-work {
        flex: 1 1 50%;
    }

    /***************/

}