:root {
    --background-color: #F6F5F2;
    --background-color-secondary: #F0EBE3;
    --text-color: #181C14;
    --text_special-color: #41787A;
    --button-color: #76ABAE;
    --color-blue: #4F8EF7;
    --color-red: #FF5C5C;
    --color-green: #3ED598;
    --color-yellow: #FFD644;
    --color-purple: #cc2ed4;
    --shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #181C14;
        --background-color-secondary: #3C3D37;
        --text-color: #F6F5F2;
        --text_special-color: #A5D9DB;
        --button-color: #76ABAE;
        --color-blue: #4F8EF7;
        --color-red: #FF5C5C;
        --color-green: #3ED598;
        --color-yellow: #FFD644;
        --color-purple: #cc2ed4;
    }
}

* {
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    line-height: 2rem;
    text-indent: justify;
    margin: 0 10vw;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

aside {
    display: none;
}

h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin: 1em 0;
    color: var(--text_special-color);
}

h3 {
    font-size: 1.5em;
    margin: 2em 0 1em 0;
    color: var(--text_special-color);
}

h4 {
    font-size: 1.1em;
    margin: 0 0 1em 0;
}

p {
    font-size: 1em;
    text-align: justify;
}

a:link {
    color: var(--text_special-color);
    /* text-decoration: none; */
}

a:visited {
    color: var(--text_special-color);
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: var(--text_special-color);
    color: var(--background-color-secondary);
}

ul {
    list-style: none;
}

code {
    background-color: var(--background-color-secondary);
    padding: 0.1em 0.2em;
    border-radius: 0.1em;
    font-size: 1em;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 1vw 1.5vw;
    width: 100%;
    color: var(--background-color-secondary);
    background-color: var(--button-color);
    border: none;
    border-radius: 0.2em;
    box-shadow: var(--shadow);
}

button:hover {
    background-color: var(--background-color-secondary);
    color: var(--text-color);
    border: 0.1em solid var(--text-color);
}

.article-content {
    width: 100%;
}

.header {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid var(--text-color);
}

.paragraph {
    text-align: justify;
    margin: 0 0 1em 0;
}

.anchor {
    font-weight: bold;
}

.container-example {
    display: flex;
    margin: 2vw 0;
    padding: 3vw 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-secondary);
    border-radius: 0.5em;
    box-shadow: var(--shadow);
}

.container-example-title {
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

.container-example-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2vw;
}

.container-example-paragraph {
    font-size: 1.2em;
}

.container-example-button {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1vw;
}

.box {
    color: var(--background-color-secondary);
    font-weight: bold;
    flex: 0 0 25%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    box-shadow: var(--shadow);
}

.box-blue {
    background-color: var(--color-blue);
}

.box-red {
    background-color: var(--color-red);
}

.box-green {
    background-color: var(--color-green);
}

.box-yellow {
    background-color: var(--color-yellow);
}

.box-purple {
    background-color: var(--color-purple);
}

.box-stretch {
    height: 100%;
    aspect-ratio: unset;
}

.box-no-stretch {
    min-height: 25%;
    aspect-ratio: unset;
}

.box-baseline {
    padding: 10% 0 0 0;
}

.box-flex-grow {
    flex-grow: 1;
    flex-basis: 0;
    height: 25%;
}


.container-example-work {
    flex: 0 0 60vw;
    aspect-ratio: 1 / 1;
    border: 0.1em solid var(--background-color);
    display: flex;
    align-items: center;
    border-radius: 0.2em;
}

.span-blue {
    color: var(--color-blue);
}

.span-red {
    color: var(--color-red);
}

.span-green {
    color: var(--color-green);
}

.div-order {
    display: flex;
    gap: 1vw;
}

#div-flex-direction {
    justify-content: center;
    flex-direction: row;
    gap: 1vw;
}

#div-justify-content {
    justify-content: flex-start;
    flex-direction: row;
}

#div-align-items {
    justify-content: center;
    align-items: stretch;
    gap: 1vw;
}

#div-align-content {
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 1vw;
}

#div-flex-wrap {
    justify-content: flex-start;
    align-content: center;
    gap: 1vw;
}

#div-align-self {
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 1vw;
}

#box-align-self {
    align-self: auto;
}

#div-order {
    justify-content: center;
    align-content: center;
    gap: 1vw;
}

#box-blue-order{
    order: 0;
}

#box-red-order {
    order: 0;
}

#box-green-order{
    order: 0;
}

#div-flex-grow {
    justify-content: space-around;
    align-content: center;
    gap: 1vw;  
}

@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    h3 {
        font-size: 1.8em;
    }

    button {
        font-size: 1.1em;
        width: 80%;
    }

    .container-example-test {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    .container-example-button {
        width: 35vw;
    }

    .container-example-work {
        flex: 0 0 20vw;
    }

}

@media (min-width: 1024px) {

    main {
        flex-direction: row;
        gap: 5vw;
    }

    aside {
        display: flex;
    }

    button {
        font-size: 1.2em;
        width: 70%;
    }

    .article-content {
        width: 70%;
    }

    .container-example-button {
        width: 25vw;
    }

}